body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0px;
  padding: 0;
}

  img{
    display: block;
    max-width: 100%;
    height: auto;
  } 

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo{
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

header .logo {
  margin-right: 76px;
}

.header-logo .logo-part{
  color: #2e2f42;
}
  
.page-header{
  border-bottom: 1px solid #e7e9fc;
  margin-left: 156px;
  margin-right: 156px;
}

.header-container-container{
  display: flex;
}
 

.header-nav{
  display: flex;
  align-items: center;
}

.logo-part{
  text-decoration: none;
}

.nav-link{
  display: block;
  padding: 24px 0;
  font-weight: 500;
  line-height: 1.5;
  color: #2e2f42;
  }


.nav-list{
  display: flex;
  gap: 40px;
}
 
  
  .contacts{
    font-style: normal;
    height: 72px;
  }

  .contacts-list{
    display: flex;
    gap: 40px;
   } 

  .contacts-link{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  

  }

  .nav-link:hover,
  .nav-link:focus,
  .contacts-link:hover,
  .contacts-link:focus{
    color:#404bbf  ;
  }

 .hero-section{
  height: 600px;
  padding: 188px 0;
  align-content: center;
  background-color:#2e2f42;
 }

 .contacts{
  margin-left: auto;
  font-style: normal;
 }

 

.contacts-item{
  display: inline-block;
  padding: 24px 0;
}

.contacts-link{
  display: inline block;
  padding: 24px 0;
  line-height: 1.5;
}
 

 .container{
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
 }

 .hero-title{
  text-align: center;
  margin: 0 auto 48px;
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  
 }

 .hero-btn-button{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: auto;
  cursor: pointer;
  color: #fff;
  background-color: #4d5ae5;
  margin: 0 auto;
  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  white-space: nowrap;
  margin-bottom: 48px;
 }
 


 .hero-btn-button:hover{
  background-color: #404BBF ;
 }
 .hero-btn-button:focus{
  background-color: #404BBF;
  color: #FFF
 }

 .title-list-list{
  font-size: 36px;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
 }

.item-list-title{
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.item-text-list{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

 .section-title-list{
  font-size: 36px;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
 }


  
 .item-list-title{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0,02em;
  color: #2e2f42;
  
 }
 .team-list-item{
  padding: 24px;
text-align: left;
 }
 


 .item-text-list{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;  color: #434455;
 }
  
.iteam-list-list{
display: flex;
}

 .item-text{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
 }

.team-section-section{
  background-color:  #F4F4FD;
}

 .team-section-section{
  background-color:#FFFFFF;
 }

 .section-title{
  font-size: 36px;
  text-transform: capitalize;
  font-weight: 500;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
 }

 .team-list-item{
  background-color: #FFFFFF;
 }

.item-title{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

 .item-title-list{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
 }

 .item-text-list{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
 }

 .list{
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
 }

 .list-images{
  padding: 32px 16px;
 }

 .logo link{
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:#4d5ae5
 }
 .logo-accent-text{
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
 }

 .footer {
  background-color:#2e2f42;
}

.footer-text {
 font-weight: 400;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: #f4f4fd;
 font-style: normal;
 line-height: 1.5;
}

footer .logo{
  display: inline-block;
  margin-bottom: 16px;
}
 